@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
/*  Definição de variáveis no escopo global 
    Procurar cores: color hunt
*/
    --cor-primaria: #2C3639;
    --cor-sencundaria: #DCD7C9;
    --cor-terciaria: #A27B5C;
    --cor-projetos: #B3A492;
    --cor-hover: #3F4E4F;
    --cor-foto: #385158;

    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-sencundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover{
    color: var(--cor-hover);
}

.titulo-destaque{
    color: var(--cor-projetos);
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 15%;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap:40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem; /*1rem (val relativo) = 16px*/
    font-family: var(--fonte-principal);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}


.apresentacao__links__subtitulo{
        font-family: var(--fonte-principal);
        font-weight: 400;
        font-size: 1.5rem;
}

.apresentacao__links__navegacao{
    width: 100%;
    text-align: center;
    font-weight: 600;
    border-radius: 8px;
    font-size:1.5rem;
    padding: 21.5px 0;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    border: 2px solid var(--cor-terciaria);
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__imagem {
    width: 50%;
    border: 2px solid var(--cor-terciaria);
    border-radius: 20px;
}

.apresentacao__imagem:hover{
    border: 2px solid var(--cor-foto);
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    height: 400;
}

.projetos{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.2rem;
    padding: 20px 0;
}

.projetos__lista{
    color: var(--cor-projetos);
    border: 2px solid var(--cor-foto);
    border-radius: 12px;
    width: 100%;
    padding: 1% 0%;
    background-color: var(--cor-foto);
    text-decoration: none;
}

.projetos__lista:hover {
    background-color: var(--cor-sencundaria);
    animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
    from {background-color: var(--cor-foto);}
    to {background-color: var(--cor-sencundaria);}
  }

@media (max-width: 1200px) {
    .cabecalho{
        padding: 10% 0% 0% 15%;
    }

    .cabecalho__menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 0%;
    }
    
    .apresentacao__conteudo{
        width: auto;
    }

    .apresentacao__links__navegacao{
        width: 90%;
        margin: 10px;
    }
}